@model AssetManagement.Domain.Entities.Ticket

@{
    ViewBag.Title = "EscalateTicket";
}

<h2>EscalateTicket</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ticketid)

        <div class="form-group">
            <label class="control-label col-md-2">Asset Number</label>
            <div class="col-md-10">
                <p class="form-control">@Model.assetnumber</p>
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.assetnumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assetnumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetnumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.assetid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assetid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.assetowner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assetowner, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetowner, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Employee Name</label>
            <div class="col-md-10">
                <p class="form-control">@ViewData["employee"]</p>
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.priority, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.priority, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.accomplishstatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.accomplishstatus)
                    @Html.ValidationMessageFor(model => model.accomplishstatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.acknowledgestatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.acknowledgestatus)
                    @Html.ValidationMessageFor(model => model.acknowledgestatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.ticketstatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ticketstatus)
                    @Html.ValidationMessageFor(model => model.ticketstatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @*@Html.LabelFor(Model => Model.datecreated, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" hidden="hidden">Date Created</label>
            <div class="col-md-10" hidden="hidden">
                @Html.EditorFor(model => model.datecreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datecreated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datedue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datedue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datedue, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <label class="control-label col-md-2">Technician</label>
            <div class="col-md-10">
                @Html.DropDownList("employeeNumber", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employeeNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
