@model AssetManagement.Domain.Entities.Ticket

@{
    ViewBag.Title = "Escalate";
    Layout = "~/Views/Shared/_helpd.cshtml";
}

<link href="~/Content/customscripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/customscripts/jquery-1.10.2.js"></script>
<script src="~/Content/customscripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
    $(function () {
        $("#datedue").datepicker();
    })
</script>

<div style="margin-bottom:10%;"></div>

<h2>Escalate Ticket</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Ticket</h4>*@
        <hr />
        @Html.ValidationSummary(true)
        @*@Html.HiddenFor(model => model.ticketid)*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.assetnumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assetnumber)
                @Html.ValidationMessageFor(model => model.assetnumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.assetid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assetid)
                @Html.ValidationMessageFor(model => model.assetid)
            </div>
        </div>*@

        


        <div class="form-group">
            @Html.LabelFor(model => model.subject, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input type="text" name="subject" id="subject" required />*@
                @Html.EditorFor(model => model.subject)
                @Html.ValidationMessageFor(model => model.subject)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Priority</label>
            <div class="col-md-10">

                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                    Text = "Low",
                    Value = "Low"
                        });
                    listItems.Add(new SelectListItem
                        {
                     Text = "Medium",
                        Value = "Medium"
                        });
                        listItems.Add(new SelectListItem
                        {
                        Text = "High",
                        Value = "High"
                    });
                }
                @Html.DropDownListFor(model => model.priority, listItems, new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.priority, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.priority)
                @Html.ValidationMessageFor(model => model.priority)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                          @Html.EditorFor(model => model.description)
                          @Html.ValidationMessageFor(model => model.description)</div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.employeeNumber, "Assign To", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.employeeNumber, null, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.employeeNumber, "", new { @class = "text-danger" })*@
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.accomplishstatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.accomplishstatus)
                @Html.ValidationMessageFor(model => model.accomplishstatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.acknowledgestatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.acknowledgestatus)
                @Html.ValidationMessageFor(model => model.acknowledgestatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ticketstatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ticketstatus)
                @Html.ValidationMessageFor(model => model.ticketstatus)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.datecreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datecreated)
                @Html.ValidationMessageFor(model => model.datecreated)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.datedue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input type="datetime" name="datedue" id="datedue" required />*@
                @Html.TextBoxFor(model => model.datedue)
                @Html.ValidationMessageFor(model => model.datedue)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.datecompleted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datecompleted)
                @Html.ValidationMessageFor(model => model.datecompleted)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.solution, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solution)
                @Html.ValidationMessageFor(model => model.solution)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.employeeNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeNumber)
                @Html.ValidationMessageFor(model => model.employeeNumber)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

