@model IEnumerable<AssetManagement.Domain.Entities.Ticket>

@{
    //ViewBag.Title = "TicketsIndex";
    Layout =null;
}

<style>
    fieldset {
        width: 90%;
        border-bottom: 1px solid #b7b7b7;
        margin-bottom: 15px;
    }

    .link {
        text-decoration: none;
        margin-bottom:0;
        padding-bottom:0;
    }

    .tabs {
        padding-top: 2%;
        margin-left: 15%;
    }

        .tabs span {
            display: inline-block;
            padding-right: 4px;
        }

    strong span {
        display: inline-block;
        padding-right: 6px;
    }
</style>
<div style="margin-bottom:2%;"></div>
<h2>Tickets</h2>

<p>
    @Html.ActionLink("New Ticket", "SelectType", "Asset")
</p>

@foreach (var i in Model)
{

    <div class="col-md-10">

        <h3>
            <strong>
                @if (i.acknowledgestatus == false)
                {
                 <span style="font-size:small"># @Html.DisplayFor(model=>i.ticketid)</span>
                    <span> @Html.ActionLink(i.subject, "Details", "Tickets", new { id = i.ticketid }, new { @class = "link" })</span>
                    <span><img src="~/Content/down.png" width="20" height="20" title="Waiting for aknowledgement..." /></span>
                    
                }
                else
                {
                    if (i.accomplishstatus == false)
                    {
                        <span> @Html.ActionLink(i.subject, "Details", "Tickets", new { id = i.ticketid }, new { @class = "link" })</span>
                        <span><img src="~/Content/up.png" width="20" height="20" title="In progress..." /></span>
                    }
                    else
                    {
                        <span> @Html.ActionLink(i.subject, "Details", "Tickets", new { id = i.ticketid }, new { @class = "link" })</span>
                        <span><img src="~/Content/check.png" width="20" height="20" title="Completed" /></span>
                    }
                }
            </strong>
        </h3>
    </div>
    <fieldset>
        <div class="col-md-10">
            <p>
                @Html.DisplayFor(item => i.description)

                <div class="tabs">
                    @if (i.assetnumber != null)
                    {
                        <span>@Html.ActionLink("Asset Report", "Report", "Asset", new { id = i.assetid }, new { @class = "btn btn-sm btn-default" })  </span>
                    }
                    <span>@Html.ActionLink("Discard", "Discard", "Tickets", new { id = i.ticketid }, new { @class = "btn btn-sm btn-default" })  </span>
                    <span>@Html.ActionLink("Escalate", "Escalate", "Tickets", new { id = i.ticketid }, new { @class = "btn btn-sm btn-default" })  </span>
                    <span>@Html.ActionLink("Edit Problem", "EditProblem", "Tickets", new { id = i.ticketid }, new { @class = "btn btn-sm btn-default" })  </span>
                    <span>Created: @Html.DisplayFor(item => i.datecreated) | </span>
                    <span>Due: @Html.DisplayFor(item => i.datedue)</span>
                </div>
            </p>
        </div>
    </fieldset>
}