@model IEnumerable<AssetManagement.Domain.Entities.Ticket>


@{
    ViewBag.Title = "Employee Tickets";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    fieldset {
        width: 90%;
        border-bottom: 1px solid #b7b7b7;
        margin-bottom: 15px;
    }

    .link {
        text-decoration: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .tabs {
        padding-top: 2%;
        margin-left: 15%;
    }

        .tabs span {
            display: inline-block;
            padding-right: 4px;
        }

    strong span {
        display: inline-block;
        padding-right: 6px;
    }
</style>
<div style="margin-bottom:10%;"></div>
<h2>@User.Identity.Name Tickets</h2>
<hr/>
@foreach (var i in Model)
{

    <div class="col-md-10">
        <h3>
            <strong>
                @if (i.acknowledgestatus == false)
                {
                    <span style="font-size:small"># @Html.DisplayFor(model => i.ticketid)</span>
                    <span> @Html.ActionLink(i.subject, "TicketInfo", "User", new { id = i.ticketid }, new { @class = "link" })</span>
                    <span><img src="~/Content/down.png" width="20" height="20" title="Waiting for aknowledgement..." /></span>

                }
                else
                {
                    if (i.accomplishstatus == false)
                    {
                        <span> @Html.ActionLink(i.subject, "TicketInfo", "User", new { id = i.ticketid }, new { @class = "link" })</span>
                        <span><img src="~/Content/up.png" width="20" height="20" title="In progress..." /></span>
                    }
                    else
                    {
                        <span> @Html.ActionLink(i.subject, "TicketInfo", "User", new { id = i.ticketid }, new { @class = "link" })</span>
                        <span><img src="~/Content/check.png" width="20" height="20" title="Completed" /></span>
                    }
                }
            </strong>
        </h3>
    </div>
    <fieldset>
        <div class="col-md-10">
            <p>
                @Html.DisplayFor(item => i.description)
            </p>
        </div>
    </fieldset>
}