@model IEnumerable<AssetManagement.WebUI.ViewModel.Asset.AssetListViewModel>

    @{
        ViewBag.Title = "Assets";
        Layout = "~/Views/Shared/_TechnicianLayout.cshtml";
    }
    <div style="margin-bottom:10%;"></div>
    <h3 class="page-header">
        <i class="fa fa-file-text-o"></i>
        @ViewBag.name  Assets
    </h3>

    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="#">Home</a></li>
        <li><i class="fa fa-desktop"></i>Assets</li>
        <li><i class="fa fa-list-alt"></i>ASSIGNED ASSET</li>
    </ol>

    <h2>Assets</h2>

    <div style="margin-bottom:2%;"></div>
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayName("Asset Number")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.serialNumber)
                </th>*@
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("Manufacturer")
            </th>
            <th>
                @Html.DisplayName("Warranty")
            </th>
            <th>
                @Html.DisplayName("Date Added")
            </th>
            @*<th>
                    @Html.DisplayName("Date Assigned")
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.assetstatus)
                </th>*@
            <th>
                @Html.DisplayName("Cost Price")
            </th>
            <th>
                @Html.DisplayName("Owner")
            </th>
            <th>
                @Html.DisplayName("Depreciated By")
            </th>
            <th>
                @Html.DisplayName("Sell Price")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.assetID)
                </th>*@
        </tr>

        @foreach (var item in Model)
        {
            TempData["lbln"] = item.owner.ToString()+"'S  ";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.assetNumber)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.serialNumber)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.catergory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manufacturer)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.warranty)*@
                    @item.warranty Months
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateadded)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.assigneddate)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.assetstatus)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.costprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depreciationcost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sell)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.assetID)
                    </td>*@
            </tr>
            TempData["lbln"] = item.owner.ToString() + "'S  ";
        }
    </table>
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
