@model IEnumerable<AssetManagement.WebUI.ViewModel.Asset.AssetListViewModel>


@if (User.IsInRole("Asset-Manager"))
{
    ViewBag.Title = "Assigned Assets";
    Layout = "~/Views/Shared/_assetsms.cshtml";
}
else if (User.IsInRole("Administrator"))
{
    ViewBag.Title = "Assigned Assets";
    Layout = "~/Views/Shared/_helpd.cshtml";
}
 
<div style="margin-bottom:10%;"></div>
      <h3 class="page-header">
          <i class="fa fa-file-text-o"></i>
             Assigned Assets - @ViewBag.Items Items(s)
           </h3>

       <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
             <li><i class="fa fa-desktop"></i>Assets</li>
            <li><i class="fa fa-list-alt"></i>ASSIGNED ASSET</li>
         </ol>
 
@if (@TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
<div style="margin-bottom:2%;"></div>
    <table class="table">
    <tr>
        @using (Html.BeginForm("Assigned", "Asset", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <th>
                @Html.Label("Search by Asset Number")
                @Html.TextBox("search")
            </th>
            <th>
                <input type="submit" class="btn btn-default" value="Search">
                @Html.ActionLink("Depreciation Summary", "Depreciation", null, new { @class = "btn btn-default" })
            </th>
        }
    </tr>
</table>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Asset Number")
        </th>
        <th>
            @Html.DisplayName("Serial Number")
        </th>
        <th>
            @Html.DisplayName("Catergory")
        </th>
        <th>
            @Html.DisplayName("Employee")
        </th>
        <th>
            @Html.DisplayName("Date Added")
        </th>
        <th>
            @Html.DisplayName("Date Assigned")
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catergory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateadded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assigneddate)
            </td>
            <td>
                <div class="btn-group">

                    <a class="btn btn-default" href="" title="Bootstrap 3 themes generator">
                        <span class="icon_lightbulb_alt"></span>
                        Options
                    </a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="" title="Bootstrap 3 themes generator"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">@Html.ActionLink("Dispose", "DisposeItem", new { id = item.assetID })</a></li>
                        <li><a href="">@Html.ActionLink("Deallocate", "Deallocate", new { id = item.assetID })</a></li>
                        <li><a href="">@Html.ActionLink("View Report", "Report", new { id = item.assetID })</a></li>
                        <li class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cancel</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
