@model IEnumerable<AssetManagement.Domain.Entities.Asset>

@{
    ViewBag.Title = "SelectType";
    Layout = "~/Views/Shared/_helpd.cshtml";
}
@*<link href="~/Content/customscripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/customscripts/jquery-ui.js"></script>*@
<script src="~/Content/AdminLayout/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script type="text/javascript">
    $(function () {
        $("#employeenumber").autocomplete({
            source: '@Url.Action("GetEmployeesA")'
        });
    });
</script>
<script>
    function myFunction() {
        var x = document.getElementById("employeenumber").value;
        document.getElementById("empl").innerHTML = "You selected: " + x;
        window.location.reload();
    }

</script>

<hr />
<br />
<br />
<div>
    <h2>SelectType</h2>
</div>
<hr />

@using (Html.BeginForm("SelectType", "Asset", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    <th>
        <div class="form-group">
            @Html.Label("Employee Number", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="employeenumber" id="employeenumber" onchange="myFunction()" />
                <p id="empl"></p>
                @*@Html.TextBox("employeenumber")*@
                @*<input type="text" name="employeenumber" id="employeenumber" />*@
                @*<input type="submit" class="btn btn-default" value="Search">*@
            </div>
        </div>
    </th>
    <th></th>
}

@using (Html.BeginForm("Create", "Tickets", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">

        <label class="control-label col-md-2">Asset Ticket</label>
        <input type="checkbox" name="AssetTicket" id="assetticket" value="Asset Ticket" style="width:5%"><br />
    </div>

    <div id="assetT">
        <div class="form-group">
            @Html.Label("Asset", new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("Assets", new SelectList(ViewBag.empassets, "catergory", "catergory"), "Select asset...", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    &nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-default" value="Asset Ticket">
                </div>
            </div>

        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" class="btn btn-default" value="Asset Ticket">*@
            @Html.ActionLink("General Ticket", "General", "Tickets", null, new { @class = "btn btn-sm btn-default", @id = "genT" })
        </div>
    </div>

}


<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    $('#assetT').hide("fast");

    $('#assetticket').click(function () {
        if (this.checked)
            $('#assetT').show("fast") && $('#genT').hide("fast");
        else
            $('#assetT').hide("fast") && $('#genT').show("fast");
    });

</script>



