<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Help Desk System</title>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
        <meta name="author" content="GeeksLabs">
        <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
        <link rel="shortcut icon" href="img/favicon.png">


        <link href="~/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/widgets.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/xcharts.min.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
        <link href="~/Content/AdminLayout/css/owl.carousel.css" rel="stylesheet" />


</head>
<body>
    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>
        <div style="margin-top:20px">
            Admin : @User.Identity.Name
        </div>
    </header>
    <div> 
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                         <a href="~/Dashboard/Dashboard">
                             <i class="icon_house_alt"></i>
                             <span>Dashboard</span>
                         </a>
                                     
                    @*</li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Inbox</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Inbox", "Inbox", "Tickets")</li>

                        </ul>
                    </li>*@
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Assets</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Tag asset", "Add", "Printer")</li>
                            <li>@Html.ActionLink("Assign asset", "Assign", "Asset")</li>
                            <li>@Html.ActionLink("List of Asset", "Index", "Asset")</li>
                            <li>@Html.ActionLink("Search Asset", "Assigned", "Asset")</li>
                          
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_archive"></i>
                            <span>Employees</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Add Employee", "Create", "Employee")</li>
                            <li>@Html.ActionLink("List of Employee", "Index", "Employee")</li>
                            <li></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_documents"></i>
                            <span>Archive</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Disposed Assets", "Disposed", "Archive")</li>
                            <li>@Html.ActionLink("Ownership History", "Index", "Archive")</li>
                            <li></li>
                        </ul>
                    </li>

                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_genius"></i>
                                <span>Tickets</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                                </a>
                                <ul class="sub">
                                    <li>@Html.ActionLink("Self Service Inbox", "Inbox","Tickets")</li>
                                    <li>@Html.ActionLink("Create Ticket", "Create", "Tickets")</li>
                                    <li>@Html.ActionLink("All Tickets", "Index", "Tickets")</li>
                                    <li>@Html.ActionLink("My Tickets", "MyTickets", "Tickets")</li>
                                    <li>@Html.ActionLink("My Solutions", "MySolutions", "Tickets")</li>
                                    <li>@Html.ActionLink("Knowledge Base", "Solutions", "Tickets")</li>
                                </ul>

                        
                        </li>
                    <li>

                        <a class="" href="">
                            <i class="icon_piechart"></i>
                            <span>Report</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_table"></i>
                            <span>Stock</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Add Stock", "Add", "Stock")</li>
                            <li>@Html.ActionLink("Available Stock", "Index", "Stock")</li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_documents_alt"></i>
                            <span>Done</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                             
                            @*<li>@Html.ActionLink("Logout", "Login", "Home")</li>*@
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tenth PLANET</p>
        </footer>
    </div>

    <script src="~/Content/AdminLayout/js/jquery.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Content/AdminLayout/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.nicescroll.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.sparkline.js"></script>
    <script src="~/Content/AdminLayout/js/owl.carousel.js"></script>
    <script src="~/Content/AdminLayout/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/AdminLayout/js/charts.js"></script>
    <script src="~/Content/AdminLayout/js/sparklines.js"></script>
    <script src="~/Content/AdminLayout/js/morris.min.js"></script>
    <script src="~/Content/AdminLayout/js/gdp-data.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.placeholder.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.autosize.min.js"></script>
    <script src="~/Content/AdminLayout/js/xcharts.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/AdminLayout/js/easy-pie-chart.js"></script>
    <script src="~/Content/AdminLayout/js/sparkline-chart.js"></script>
    <script src="~/Content/AdminLayout/js/scripts.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.rateit.min.js"></script>
    <script src="~/Content/AdminLayout/js/calendar-custom.js"></script>
    <script src="~/Content/AdminLayout/js/fullcalendar.min.js"></script>
    <script src="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="~/Content/AdminLayout/assets/chart-master/Chart.js"></script>


    <script>

        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });



    </script>

</body>
</html>
