<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Asset Management</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">
    <link href="~/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/widgets.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/xcharts.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/customcss.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/elusive-icons.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="header dark-bg">

        <div class="top-nav notification-row">
            <ul class="nav pull-right top-menu">

                <li id="alert_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon_clock_alt" style="color:white"></i>
                        <span class="badge bg-important">@Html.Partial("_FullyDAssetCounter")</span>
                    </a>
                    <ul class="dropdown-menu extended notification">

                        <li>
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <p class="blue">Notifications</p>
                        </li>
                        <li>
                            <a href="@Url.Action("FullyDAssets", "Asset")">
                                <span class="label label-warning"><i class="icon_clock_alt"></i></span>
                                @Html.Partial("_fullyDepreciated") Fully Deprecitated Asset(s)
                                <span class="small italic pull-right">High Priority</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>
        <div style="margin-top:20px">
            Admin : @User.Identity.Name
            <div class="nav pull-right top-menu">@Html.Partial("_TotalStock")</div>
        </div>
    </header>
    <div>
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a href="~/Dashboard/Dashboard">
                            <i class="icon_house_alt"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="fa fa-laptop"></i>
                            <span>Asset</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("All Assets", "AllExistingAssets", "Asset")</li>
                            <li>@Html.ActionLink("Capture New Asset", "Add", "Printer")</li>
                            <li>@Html.ActionLink("Unssigned Assets", "Index", "Asset")</li>
                            <li>@Html.ActionLink("Search Asset", "Assigned", "Asset")</li>
                            <li>@Html.ActionLink("Temporal Devices","TempDev","Asset")</li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_profile"></i>
                            <span>Employee</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                            <li></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_documents"></i>
                            <span>Archive</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Disposed Assets", "Disposed", "Archive")</li>
                            <li>@Html.ActionLink("Ownership History", "Index", "Archive")</li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Report</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub"></ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_table"></i>
                            <span>Stock</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Assets", "Index", "Stock")</li>
                            <li>@Html.ActionLink("Suppliers", "Index", "Invoice")</li>
                            <li>@Html.ActionLink("Repairs", "Index", "ReplacementParts")</li>
                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="el el-off"></i>
                            <span>Account</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            @if (User.Identity.Name != "assets@admin.net")
                            {
                                @Html.ActionLink("Profile", "UserProfile", "Employee")
                            }
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    </div>
    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tenth PLANET</p>
        </footer>
    </div>

    <script src="~/Content/AdminLayout/js/jquery.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Content/AdminLayout/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.nicescroll.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.sparkline.js"></script>
    <script src="~/Content/AdminLayout/js/owl.carousel.js"></script>
    <script src="~/Content/AdminLayout/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/AdminLayout/js/charts.js"></script>
    <script src="~/Content/AdminLayout/js/sparklines.js"></script>
    <script src="~/Content/AdminLayout/js/morris.min.js"></script>
    <script src="~/Content/AdminLayout/js/gdp-data.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.placeholder.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.autosize.min.js"></script>
    <script src="~/Content/AdminLayout/js/xcharts.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/AdminLayout/js/easy-pie-chart.js"></script>
    <script src="~/Content/AdminLayout/js/sparkline-chart.js"></script>
    <script src="~/Content/AdminLayout/js/scripts.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.rateit.min.js"></script>
    <script src="~/Content/AdminLayout/js/calendar-custom.js"></script>
    <script src="~/Content/AdminLayout/js/fullcalendar.min.js"></script>
    <script src="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="~/Content/AdminLayout/assets/chart-master/Chart.js"></script>
    <script>

        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>
</body>
</html>
