@model AssetManagement.WebUI.ViewModel.MonitorViewModel


@{
    ViewBag.Title = "Add Monitor";
    Layout = "~/Views/Shared/_assetsms.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
    #urlddl {
        width: 18%;
        padding: 8px;
        text-align: justify;
        float: right;
    }

        #urlddl a {
            padding: 5px;
        }
</style>

<div style="margin-bottom:10%;"></div>

<div class="btn-group">

    <a class="btn btn-default" href="" title="Bootstrap 3 themes generator">
        <span class="icon_lightbulb_alt"></span>
        Choose Asset
    </a>
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="" title="Bootstrap 3 themes generator"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="~/Keyboard/Add">Keyboard</a></li>
        <li><a href="~/Laptop/Add">Laptop</a></li>
        <li><a href="~/Monitor/Add">Monitor</a></li>
        <li><a href="~/Mouse/Add">Mouse</a></li>
        <li><a href="~/PC/Add">PC</a></li>
        <li><a href="~/Printer/Add">Printer</a></li>
        <li class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cancel</a></li>
    </ul>
</div>




@*<div>



    @Html.DropDownList(
      "url", new SelectList(new[]
            {
               new SelectListItem { Text = "Keyboard", Value = Url.Action("Add", "Keyboard") },
               new SelectListItem { Text = "Laptop", Value = Url.Action("Add", "Laptop") },
               new SelectListItem { Text = "Monitor", Value = Url.Action("Add", "Monitor") },
               new SelectListItem { Text = "Mouse", Value = Url.Action("Add", "Mouse") },
               new SelectListItem { Text = "PC", Value = Url.Action("Add", "PC") },
               new SelectListItem { Text = "Printer", Value = Url.Action("Add", "Printer") },
             }, "Value", "Text"),
        "Choose asset...",
            new { id = "urlddl", @class = "btn btn-default" }
      )
</div>*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Add Monitor</h3>
        <hr />
        @Html.ValidationSummary(true)

        @if (@TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (@ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}

<div style="margin-bottom:4%;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.serialNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serialNumber)
                @Html.ValidationMessageFor(model => model.serialNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.manufacturer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.manufacturer, new SelectList(ViewBag.MM, "manufacturer", "manufacturer"), "Select Manufacturer", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.manufacturer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.warranty,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.warranty)
                @Html.ValidationMessageFor(model => model.warranty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.costprice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.costprice)
                @Html.ValidationMessageFor(model => model.costprice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateAdded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateAdded)
                @Html.ValidationMessageFor(model => model.dateAdded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modelName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.modelName,new SelectList(ViewBag.MM,"model", "model"),"Select Model",new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.modelName)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.displaySize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.displaySize)
                @Html.ValidationMessageFor(model => model.displaySize)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Monitor" class="btn btn-primary" />
            </div>
        </div>
        <div>
            @Html.ActionLink("Cancel", "Index", "Asset", null, new { @class = "btn btn-default" })
        </div>
    </div>
}


@*<script type="text/javascript">
    $(function () {
        $('#urlddl').change(function () {
            var url = $(this).val();
            if (url != null && url != '') {
                window.location.href = url;
            }
        });
    });
</script>*@
<script>
  $(function() {
      $("#dateAdded").datepicker();
  });
</script>