@model IEnumerable<AssetManagement.Domain.Entities.Archive>

@{
    ViewBag.Title = "Disposed";
}
<div style="margin-bottom:8%;"></div>

<h3>Archives</h3>


<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Asset Number")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Date Added")
        </th>
        <th>
            @Html.DisplayName("Disposal Date")
        </th>
        <th>
            @Html.DisplayName("Last Owner ID")
        </th>
        <th>
            @Html.DisplayName("Owner Full Name")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDisposed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
        </tr>
    }

</table>
