@model AssetManagement.Domain.Entities.Ticket

@{
    ViewBag.Title = "EditProblem";
    Layout = "~/Views/Shared/_assetsms.cshtml";
}

<style>
    fieldset {
        padding-right: 20%;
        width: 90%;
        border: 2px 2px solid #000;
    }

    .link {
        text-decoration: none;
    }

    .tabs {
        padding-top: 2%;
        margin-left: 30%;
    }

        .tabs span {
            display: inline-block;
            padding-right: 4px;
        }

    strong span {
        display: inline-block;
        padding-right: 6px;
    }
</style>
<div style="margin-bottom:10%;"></div>

<link href="~/Content/customscripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/customscripts/jquery-1.10.2.js"></script>
<script src="~/Content/customscripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<h2>Edit Problem</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ticketid)
        @Html.HiddenFor(Model => Model.assetnumber)
        @Html.HiddenFor(Model => Model.assetid)
        @Html.HiddenFor(Model => Model.assetowner)
        
        <div class="form-group">
            @Html.LabelFor(model => model.subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.priority,new List<SelectListItem>
           {
               new SelectListItem {Text="Low",Value="Low"},
               new SelectListItem {Text="Medium",Value="Medium"},
               new SelectListItem {Text="High",Value="High"}
           },"---Select Priority---" ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.priority, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })*@
                <textarea name="description" id="description" cols="8" rows="4" class="form-control">@Model.description</textarea>
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(Model => Model.accomplishstatus)
        @Html.HiddenFor(Model => Model.acknowledgestatus)
        @Html.HiddenFor(Model => Model.ticketstatus)
        @Html.HiddenFor(Model => Model.datecreated)

        <div class="form-group">
            @Html.LabelFor(model => model.datedue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.datedue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datedue, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.HiddenFor(Model => Model.employeeNumber)
        @Html.HiddenFor(Model => Model.Employees)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","Tickets")
</div>
<script>
    $(function () {
        $("#datedue").datepicker();
    })
</script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
